/*
Framework
*/
.card-title {
    font-family: 'Molle', cursive;
    color: #1E88E5;
}

.card-action {
    font-family: 'Lato', sans-serif;
}

.card {
    border-radius: 25px;
}

.input-field input[type=text]:focus + label {
    color: #000 !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #1e88e5 !important;
    box-shadow: 0 1px 0 0 #1e88e5 !important;
}

/*
Slider
*/
.cdw-slider {
    position: relative;
    overflow: hidden;
}

.cdw-slider-container {
    transition: transform 0.3s;
    transform: translate3d(0, 0, 0);
}

.cdw-slider-container::after {
    content: '';
    clear: both;
    display: table;
}

.cdw-slide {
    float: left;
}

.cdw-slider-nextBtn, .cdw-slider-prevBtn {
    position: absolute;
    text-align: center;
    background: #1e88e5;
    color: #fff;
    border-radius: 50%;
    top: 50%;
    margin-top: -29px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.3s;
}

.cdw-slider-nextBtn:hover, .cdw-slider-prevBtn:hover {
    transform: scale(1.2);
}

.cdw-slider-prevBtn {
    right: auto;
    left: 20px;
}

.slide {
    padding: 0.5% 10%;
    width: 100%;
    max-height: 70vh;
    border-radius: 5%;
}

/*
Map
*/
#stations-map {
    height: 90vh;
}

@media (min-width: 768px) {
    #stations-map {
        margin: 0 3% 0 2%;
    }
}

@media (max-width: 767px) {
    #stations-map {
        height: 45vh;
    }
}

/*
Station details
*/
#infos-panel, #reservation-details {
    padding-bottom: 2%;
}

.capitalize {
    text-transform: capitalize;
}

/*
Modal box
*/
.modal-box {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-box-wrapper {
    overflow: auto;
    width: 600px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 20px;
    background-color: #FFF;
}

#signature-pad-canvas {
    position: relative;
    border: 1px solid black
}
